.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #FFF;
  height: 60px;
  width: 500px;
  padding: 20px;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;

  display:flex;
  justify-content: center;
  align-items: center;

}